/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin-bottom: 20px;
    color: #fff;
}

.recipe {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe img {
    width: 100%;
    border-radius: 5px;
}

.recipe h3 {
    margin-top: 10px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    background-color: #e45b11;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #444;
}

.recipes {
    padding: 50px 0;
    background-color: #eee;
}

.recipes h2 {
    margin-bottom: 20px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.nome{
    color: #e45b11;
}

a:hover {
    color: #C84C09;
}
